<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add An Author</title>

    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<body>

    <div class="container">

        <h3>Author Directory</h3>
        <hr>

        <p class="hr mb-4">Save Author</p>

        <form action="#" th:action="@{/api/authors/save}"
                         th:object="${author}" method="POST">
            <!--  Add hidden form field to handle the update, This binds to the model attribute. Tells the app which author to update-->
            <input type="hidden" th:field="*{authorID}">

            <input type="text" th:field="*{firstName}"
                   class="form-control mb-4 w-25" placeholder="First Name">

            <input type="text" th:field="*{lastName}"
                   class="form-control mb-4 w-25" placeholder="Last Name">

            <button type="submit" class="btn btn-info col-2">Save</button>

        </form>

        <hr>
        <a th:href="@{/api/authors}">Back to Author List</a>

    </div>

</body>
</html>